nav ul {
    padding: 1%;
    width: 100%;
}
nav ul li {
    display: inline;
    padding: 2%;
    transition-delay: 0.3ms;
    background-color: transparent;
}

nav ul li a,
li a:visited {
    color: #036;
}
nav ul li a:hover {
    text-shadow: 0px 0px 10px #036;
}
